@import './bootstrap/variables';
@import './bootstrap/mixins';

.footer-container {
}

.footer-surround {
}

.container-brand-dark {
  padding: 50px 0px;
  background-image: url('./images/background.png');
  background-color: #2b2d2e;
  color:#fff;
}

.list-layout {
  padding-left:0px;
  margin-bottom:0px;
  list-style: outside none none;
}

.page-container, .page-container-responsive {
  margin-left: auto;
  margin-right: auto;
  padding-left: 12.5px;
  padding-right:12.5px;
  @include clearfix;
}

@media (min-width: $screen-sm-min) {
  .page-container, .page-container-responsive {
    padding-left: 25px;
    padding-right: 25px;
  }
}

.page-container {
  width: 1045px;
}
.page-container-responsive {
  width: auto;
}

@media (min-width: $screen-sm-min) {
  .page-container-responsive {
    width: 745px;
  }
}
@media (min-width: $screen-lg-min) {
  .page-container-responsive {
    width: 1045px;
  }
}
.row-condensed {
  margin-left:-6.25px;
  margin-right:-6.25px;
}

.pull-left.icon-size-2,.pull-left.icon-size-3,.pull-left.icon-size-4,.pull-right.icon-size-2,.pull-right.icon-size-3,.pull-right.icon-size-4 {
  line-height:1
}
.icon-size-2 {
  font-size:2.4em
}
.icon-size-3 {
  font-size:3.6em
}
.icon-size-4 {
  font-size:4.8em
}

.va-container {
  display:table;
  position:relative;
}
.va-container-v {
  height:100%;
}
.va-container-h {
  width:100%;
}
.va-top,.va-middle,.va-bottom {
  display:table-cell
}
.va-top {
  vertical-align:top;
}
.va-middle {
  vertical-align:middle;
}
.va-bottom {
  vertical-align:bottom;
}

.text-jumbo {
  font-size:60px;
  font-weight:700;
}
