@import 'settings.scss';

@mixin simpleBoxShadow() {
  box-shadow: 0 1px 2px $color-black;
}

@mixin clearfix() {
  &:before, &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}
