@import '../bootstrap/variables';
@import '../bootstrap/mixins';

.footer {
  padding: 0 24px;
  background-color: rgba(0,0,0,.15);
  .menu {
    list-style: outside none none;
    @include clearfix();
  }
    .menuitem {
      float: left;
      padding: 20px;
      word-wrap: break-word;
    }
  }
  .link {
    color: $gray;
    font-size: $font-size-h4;
    text-align: center;
    &:hover {
      color:$link-hover-color;
    }
  .logo {
    font-size:61px;
    color:$brand-danger;
    line-height:61px;
  }

}

