@import '../bootstrap/variables';
@import '../bootstrap/mixins';

.footer {
  padding: 0 24px;
  background-color: rgba(0,0,0,.15);
  .language-container, .currency-container {
    font-size: 16px;
    width: 100%;
    position: relative;
    vertical-align: bottom;
    margin-bottom: 12px;
  }
  .language-selector, .currency-selector {
    width:100%;
    border: 0px none;
    border-radius: 2px;
    color: #fff;
    background-color: #565a5c;
    padding: 8px 0px 9px 10px;
    margin: 0px;
    line-height:normal;
    text-transform: none;
  }
  .menu {
    list-style: outside none none;
    @include clearfix();
  }
  .menuitem {
    float: left;
    padding: 20px;
    word-wrap: break-word;
  }
  .link {
    color: $gray;
    font-size: $font-size-h4;
    text-align: center;
    &:hover {
      color:$link-hover-color;
    }
  }
  .logo {
    font-size:61px;
    color:$brand-danger;
    line-height:61px;
  }

}

